$gutter_width:30px;
$container-sm:((720px + $gutter_width))!default;
$container-md:((940px + $gutter_width))!default;
$container-lg:((1140px + $gutter_width))!default;

@mixin centered {
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -o-flex;
	display: -ms-flex;
	flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	-ms-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}

@mixin inline-block {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
}

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin ButtonAnimationFrame {
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), #f6f5f0;
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f5f0), color-stop(1, #e1e0dc));
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
	background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f5f0', endColorstr='#e1e0dc', GradientType=0);
	background-size: 40px 40px;
	border: 1px solid #d3d3d3;
	cursor: wait;
	border-radius: 3px;
    opacity: 0.9;

	-webkit-animation-name: ButtonAnimationFrame;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0;
	-webkit-animation-direction: normal;
	animation-name: ButtonAnimationFrame;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 0;
	animation-direction: normal;

	&:after {
		display: block;
		content: "Please wait...";
		font-weight: 400;
		font-family: Tahoma;
		font-size: 11px;
		-webkit-font-smoothing: antialiased;
		line-height: 28px;
		text-align: center;
		text-shadow: 0 1px 0 white;
		color: #999;
	}
}
@keyframes ButtonAnimationFrame{
	0% {background-position:0 0;}
	100% {background-position:40px 0;}
}
@-webkit-keyframes ButtonAnimationFrame{
	0% {background-position:0 0;}
	100% {background-position:40px 0;}
}

@mixin submit_button {
	cursor:pointer;
	border:1px solid #8bcf54;
	border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	padding: 7px 24px;
	text-decoration:none;
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	color: #FFFFFF;
	background-color: #a9db80; background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
	background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
	background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
	background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
	background-image: -o-linear-gradient(top, #a9db80, #96c56f);
	background-image: linear-gradient(to bottom, #a9db80, #96c56f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f);
	&:hover {
		border:1px solid #74bf36;
		background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
		background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
		background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
		background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
		background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
		background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
	}
}

@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
		-ms-transform: scale(.3);
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
		-ms-transform: scale(.9);
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	animation-name: bounceIn;
	-moz-animation-delay: .3s;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
	-moz-animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}