@import "variables_mixins";

html,body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

body.login {
	background:#f5f5f5;
	color:#424242;
	font-family:Arial,sans-serif;
	font-size:14px;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;

	*,*:after,*:before {
		box-sizing:border-box;
		display:block;
	}

	a#kidly_logout {
		cursor:pointer;
		text-align: center;
		margin-top: 10px;
		color: #d20202;
	}

	a#branding {
		display: block;
		max-width: 250px;
		margin-bottom: 15px;
		height:61px;
		@extend .bounceIn;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	label.error {
		display: block;
		clear: both;
		color: #d20202;
		font-size: 12px;
		margin: 0;
		padding-top: 5px;
	}

	#container {
		width:100%;
		height:100%;

		.container {
			margin-right:auto;
			margin-left:auto;
			padding-left:(($gutter_width / 2));
			padding-right:(($gutter_width / 2));
			height:100%;

			@media (min-width: 768px) {
				width:$container-sm;
			}
			@media (min-width: 992px) {
				width:$container-md;
			}
			@media (min-width: 1200px) {
				width:$container-lg;
			}

			#LoginWrapper {
				height:100%;
				@include centered;

				form {
					background: #fcfcfe;
					background: -moz-linear-gradient(top, #fcfcfe, #fdfaf1);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfe), color-stop(1, #fdfaf1));
					background: -webkit-linear-gradient(top, #fcfcfe, #fdfaf1);
					background: -o-linear-gradient(top, #fcfcfe, #fdfaf1);
					background: -ms-linear-gradient(top, #fcfcfe, #fdfaf1);
					background: linear-gradient(top, #fcfcfe, #fdfaf1);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfe', endColorstr='#fdfaf1', GradientType=0);

					border: 0;
					margin: 0;
					box-shadow: 0 0 10px rgba(0,0,0,.085);
					border: 1px solid #e1e1e1;
					border-radius: 2px;

					@media (min-width:320px) and (max-width:767px) {
						width:100%;
					}
					@media (min-width: 768px) {
						width:400px;
					}

					header {
						padding: 15px;
						border-bottom: 1px solid #ddd;
						margin-bottom: 10px;

						@media screen and (max-width:767px) {
							margin-bottom:5px;
						}

						h4 {
							margin:0;
							padding:0
						}
					}

					> fieldset {
						border: 0;
						margin: 0;
						padding: 15px;
					}

					.box-footer {
						padding: 15px;
						border-top: 1px solid #ddd;
						margin-top: 10px;
					}

					.form-group {
						@include clearfix;
						margin-bottom:15px;
						&:last-child {
							margin-bottom:0;
						}
						> div {
							@include clearfix;
							margin-bottom:10px;

							&.AnimationWrapper,
							&:last-child {
								margin-bottom:0;
							}
						}
						label:not(.error) {
							@include inline-block;
							float:left;
							width:100px;
							margin-right:10px;
							line-height:32px;
							font-size:13px;
							font-weight:300;

							+ input {
								@include inline-block;
								float:left;
								width:calc(100% - 110px);
								background: #ffffff;
								border: 1px solid #ddd;
								height: 34px;
								padding: 0 8px;
								line-height: 32px;
								border-radius: 3px;
								outline:0;
							}

							@media screen and (max-width:767px) {
								display:block;
								width:100%;
								line-height:1;
								font-size:12px;
								margin-bottom:5px;

								+ input {
									height: 30px;
									line-height: 28px;
									width: 100%;
								}
							}
						}

						.AnimationWrapper {
							float: left;
							width: 86px;
							height: 30px;
							position: relative;

							.ButtonAnimation {
								@include ButtonAnimationFrame;
								position:absolute;
								left:0;
								right:0;
								top:0;
								bottom:0;
								overflow:hidden;
								z-index:3;
							}
						}

						.SuccessMessage {
							line-height: 28px;
							margin-left: 10px;
							float: left;
							font-size: 12px;
							-webkit-font-smoothing: antialiased;

							@media screen and (max-width:767px) {
								font-size:11px;
							}
						}

						#LoginSubmit {
							max-width:86px;
							max-height:30px;
							@include submit_button;
						}
					}
				}
			}
		}
	}
}