@keyframes ButtonAnimationFrame {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@-webkit-keyframes ButtonAnimationFrame {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  70% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.bounceIn, body.login a#branding {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -moz-animation-duration: .3s;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body.login {
  background: #f5f5f5;
  color: #424242;
  font-family: Arial,sans-serif;
  font-size: 14px;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased; }
  body.login *, body.login *:after, body.login *:before {
    box-sizing: border-box;
    display: block; }
  body.login a#kidly_logout {
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    color: #d20202; }
  body.login a#branding {
    display: block;
    max-width: 250px;
    margin-bottom: 15px;
    height: 61px; }
  body.login img {
    display: block;
    max-width: 100%;
    height: auto; }
  body.login label.error {
    display: block;
    clear: both;
    color: #d20202;
    font-size: 12px;
    margin: 0;
    padding-top: 5px; }
  body.login #container {
    width: 100%;
    height: 100%; }
    body.login #container .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      height: 100%; }
      @media (min-width: 768px) {
        body.login #container .container {
          width: 750px; } }
      @media (min-width: 992px) {
        body.login #container .container {
          width: 970px; } }
      @media (min-width: 1200px) {
        body.login #container .container {
          width: 1170px; } }
      body.login #container .container #LoginWrapper {
        height: 100%;
        align-items: center;
        -moz-align-items: center;
        -webkit-align-items: center;
        -o-align-items: center;
        -ms-align-items: center;
        display: flex;
        display: -moz-flex;
        display: -webkit-flex;
        display: -o-flex;
        display: -ms-flex;
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center; }
        body.login #container .container #LoginWrapper form {
          background: #fcfcfe;
          background: -moz-linear-gradient(top, #fcfcfe, #fdfaf1);
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcfcfe), color-stop(1, #fdfaf1));
          background: -webkit-linear-gradient(top, #fcfcfe, #fdfaf1);
          background: -o-linear-gradient(top, #fcfcfe, #fdfaf1);
          background: -ms-linear-gradient(top, #fcfcfe, #fdfaf1);
          background: linear-gradient(top, #fcfcfe, #fdfaf1);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfe', endColorstr='#fdfaf1', GradientType=0);
          border: 0;
          margin: 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.085);
          border: 1px solid #e1e1e1;
          border-radius: 2px; }
          @media (min-width: 320px) and (max-width: 767px) {
            body.login #container .container #LoginWrapper form {
              width: 100%; } }
          @media (min-width: 768px) {
            body.login #container .container #LoginWrapper form {
              width: 400px; } }
          body.login #container .container #LoginWrapper form header {
            padding: 15px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px; }
            @media screen and (max-width: 767px) {
              body.login #container .container #LoginWrapper form header {
                margin-bottom: 5px; } }
            body.login #container .container #LoginWrapper form header h4 {
              margin: 0;
              padding: 0; }
          body.login #container .container #LoginWrapper form > fieldset {
            border: 0;
            margin: 0;
            padding: 15px; }
          body.login #container .container #LoginWrapper form .box-footer {
            padding: 15px;
            border-top: 1px solid #ddd;
            margin-top: 10px; }
          body.login #container .container #LoginWrapper form .form-group {
            margin-bottom: 15px; }
            body.login #container .container #LoginWrapper form .form-group:after {
              content: "";
              display: table;
              clear: both; }
            body.login #container .container #LoginWrapper form .form-group:last-child {
              margin-bottom: 0; }
            body.login #container .container #LoginWrapper form .form-group > div {
              margin-bottom: 10px; }
              body.login #container .container #LoginWrapper form .form-group > div:after {
                content: "";
                display: table;
                clear: both; }
              body.login #container .container #LoginWrapper form .form-group > div.AnimationWrapper, body.login #container .container #LoginWrapper form .form-group > div:last-child {
                margin-bottom: 0; }
            body.login #container .container #LoginWrapper form .form-group label:not(.error) {
              display: inline-block;
              vertical-align: middle;
              *vertical-align: auto;
              *zoom: 1;
              *display: inline;
              float: left;
              width: 100px;
              margin-right: 10px;
              line-height: 32px;
              font-size: 13px;
              font-weight: 300; }
              body.login #container .container #LoginWrapper form .form-group label:not(.error) + input {
                display: inline-block;
                vertical-align: middle;
                *vertical-align: auto;
                *zoom: 1;
                *display: inline;
                float: left;
                width: calc(100% - 110px);
                background: #ffffff;
                border: 1px solid #ddd;
                height: 34px;
                padding: 0 8px;
                line-height: 32px;
                border-radius: 3px;
                outline: 0; }
              @media screen and (max-width: 767px) {
                body.login #container .container #LoginWrapper form .form-group label:not(.error) {
                  display: block;
                  width: 100%;
                  line-height: 1;
                  font-size: 12px;
                  margin-bottom: 5px; }
                  body.login #container .container #LoginWrapper form .form-group label:not(.error) + input {
                    height: 30px;
                    line-height: 28px;
                    width: 100%; } }
            body.login #container .container #LoginWrapper form .form-group .AnimationWrapper {
              float: left;
              width: 86px;
              height: 30px;
              position: relative; }
              body.login #container .container #LoginWrapper form .form-group .AnimationWrapper .ButtonAnimation {
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), #f6f5f0;
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -moz-linear-gradient(top, #f6f5f0, #e1e0dc);
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-gradient(linear, left top, left bottom, color-stop(0, #f6f5f0), color-stop(1, #e1e0dc));
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -webkit-linear-gradient(top, #f6f5f0, #e1e0dc);
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -o-linear-gradient(top, #f6f5f0, #e1e0dc);
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), -ms-linear-gradient(top, #f6f5f0, #e1e0dc);
                background: linear-gradient(-45deg, rgba(255, 255, 255, 0.6) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 75%, transparent 75%, transparent), linear-gradient(top, #f6f5f0, #e1e0dc);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f5f0', endColorstr='#e1e0dc', GradientType=0);
                background-size: 40px 40px;
                border: 1px solid #d3d3d3;
                cursor: wait;
                border-radius: 3px;
                opacity: 0.9;
                -webkit-animation-name: ButtonAnimationFrame;
                -webkit-animation-duration: 2s;
                -webkit-animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-delay: 0;
                -webkit-animation-direction: normal;
                animation-name: ButtonAnimationFrame;
                animation-duration: 2s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
                animation-delay: 0;
                animation-direction: normal;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                overflow: hidden;
                z-index: 3; }
                body.login #container .container #LoginWrapper form .form-group .AnimationWrapper .ButtonAnimation:after {
                  display: block;
                  content: "Please wait...";
                  font-weight: 400;
                  font-family: Tahoma;
                  font-size: 11px;
                  -webkit-font-smoothing: antialiased;
                  line-height: 28px;
                  text-align: center;
                  text-shadow: 0 1px 0 white;
                  color: #999; }
            body.login #container .container #LoginWrapper form .form-group .SuccessMessage {
              line-height: 28px;
              margin-left: 10px;
              float: left;
              font-size: 12px;
              -webkit-font-smoothing: antialiased; }
              @media screen and (max-width: 767px) {
                body.login #container .container #LoginWrapper form .form-group .SuccessMessage {
                  font-size: 11px; } }
            body.login #container .container #LoginWrapper form .form-group #LoginSubmit {
              max-width: 86px;
              max-height: 30px;
              cursor: pointer;
              border: 1px solid #8bcf54;
              border-radius: 3px;
              font-size: 12px;
              font-family: arial, helvetica, sans-serif;
              padding: 7px 24px;
              text-decoration: none;
              display: inline-block;
              text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
              font-weight: bold;
              color: #FFFFFF;
              background-color: #a9db80;
              background-image: -webkit-gradient(linear, left top, left bottom, from(#a9db80), to(#96c56f));
              background-image: -webkit-linear-gradient(top, #a9db80, #96c56f);
              background-image: -moz-linear-gradient(top, #a9db80, #96c56f);
              background-image: -ms-linear-gradient(top, #a9db80, #96c56f);
              background-image: -o-linear-gradient(top, #a9db80, #96c56f);
              background-image: linear-gradient(to bottom, #a9db80, #96c56f);
              filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a9db80, endColorstr=#96c56f); }
              body.login #container .container #LoginWrapper form .form-group #LoginSubmit:hover {
                border: 1px solid #74bf36;
                background-color: #8ed058;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
                background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
                background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
                background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
                background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
                background-image: linear-gradient(to bottom, #8ed058, #7bb64b);
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b); }

/*# sourceMappingURL=style.css.map */
